In [1]:
import pyarrow.parquet as pq
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import os
pd.set_option('display.max_columns', None)

In [ ]:
# Full parquet needs to be build
# df = pd.read_parquet('./data/df_v4.parquet', engine='pyarrow') 
df = pd.read_parquet('./data/df_v4_10000', engine='pyarrow')

In [ ]:
df.replace(r'^\s*$', np.nan, regex=True, inplace=True)

In [ ]:
df.dropna(how='all', axis=1, inplace=True)

In [18]:
# Output of information about the data frame
df.info ()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 28 columns):
Unnamed: 0           100000 non-null int64
date_time            100000 non-null object
rule_number          100000 non-null int64
tracker_id           100000 non-null int64
real_interface       100000 non-null object
reason               100000 non-null object
action               100000 non-null object
traffic_direction    100000 non-null object
ip_version           100000 non-null int64
tos                  100000 non-null object
ecn                  205 non-null object
ttl                  100000 non-null int64
ipv4_id              100000 non-null int64
offset               100000 non-null float64
flags                100000 non-null object
protocoll_id         100000 non-null int64
protocoll_text       100000 non-null object
length               100000 non-null float64
source_ip            100000 non-null object
destination_ip       100000 non-null object
source_port          100000 non-null object
destination_port     99985 non-null object
data_length          99982 non-null float64
tcp_flag             60696 non-null object
sequence_num         59036 non-null object
ack                  5925 non-null float64
window               60696 non-null float64
options              15735 non-null object
dtypes: float64(5), int64(7), object(16)
memory usage: 21.4+ MB

In [ ]:
def parse_dtype(df, dtypes):
    for col in dtypes.keys():
        df[col] = df[col].astype(dtypes[col])
    return df

In [ ]:
#dtypes = {'value':'datetime64[ns]', 'offset':'int', 'length':'int', 'data_length':'int'}
dtypes = {'offset':'float', 'length':'float', 'data_length':'float'}
df = parse_dtype(df, dtypes)

In [3]:
df = pd.read_csv("/Users/denakarimi/Desktop/WS20:21/BDA/Sample_parquet_v4.csv", low_memory=False)

In [30]:
IP_blocklist_1 = pd.read_csv("https://feodotracker.abuse.ch/downloads/ipblocklist.txt",skiprows=9, header=None)

In [31]:
IP_blocklist_1.head()

                 0
0    64.74.160.218
1     82.48.39.246
2  190.247.139.101
3    186.147.237.3
4       5.2.136.90

In [32]:
IP_blocklist_1 = IP_blocklist_1.values.tolist()

In [33]:
df["dangerous"] = False
df.loc[df["source_ip"].isin(IP_blocklist_1), "dangerous"] = True

In [34]:
df.loc[df["dangerous"] == True, "source_ip"]

Series([], Name: source_ip, dtype: object)

In [35]:
IP_blocklist_2 = pd.read_csv("/Users/denakarimi/Desktop/WS20:21/BDA/IP_Blacklists/Download",skiprows=9, header=None)

In [36]:
IP_blocklist_2.head()

             0
0       21.971
1    1.609.301
2    1.333.698
3   95.959.476
4  375.474.210

In [37]:
IP_blocklist_2 = IP_blocklist_2.values.tolist()

In [38]:
df["dangerous"] = False
df.loc[df["source_ip"].isin(IP_blocklist_2), "dangerous"] = True

In [39]:
df.loc[df["dangerous"] == True, "source_ip"]

Series([], Name: source_ip, dtype: object)